.first-slide {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aleo';
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExa2Rxb21xbWlwa283M2doaTdlMjBhb3M0emRmMGU4eWV5N2xqZnhtaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ko7twHhomhk8E/giphy.webp');
    background-size: cover;
    background-position: center;
    font-size: 4rem;
}

