{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{purchase["symbol"]}}</td>
                    <td>{{purchase["shares]}}</td>
                    <td>{{purchase["price"]}}</td>
                    <td>{{purchase["price"] * purchase["shares"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <th>Cash</th>
                <th>{{cash}}</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>TOTAL</th>
                <th>{{}}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
