{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td class="text-start">{{purchase["symbol"]}}</td>
                    <td class="text-end">{{purchase["shares"]}}</td>
                    <td class="text-end">{{lookup(purchase["symbol"]) | usd}}</td>
                    <td class="text-end">{{(lookup(purchase["symbol"]) * purchase["total_shares"]) | usd}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-start"></td>
                <td class="text-end"></td>
                <th class="text-end">Cash</th>
                <th class="text-end">{{cash}}</th>
            </tr>
            <tr>
                <td class="text-start"></td>
                <td class="text-end"></td>
                <th class="text-end">TOTAL</th>
                <th class="text-end">{{total}}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
